body {
    font-family: "roboto";
    margin:0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    gap:12px;
    padding:12px 24px;
    background-color:#1F2937;
    color:#f9FaF8;

}
.header .logo {
    margin-right:auto;
    font-size:24px;
    font-weight:800;
}

.section1 {
    background-color:#1F2937;
    color:#f9FaF8;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:12px;
    padding:96px 24px;
}

.section1 .image {
    height:200px;
    min-width:400px;
    flex-grow: 0;
    background-color:#555;
    margin-right:48px;
    margin-left:24px;
    text-align: center;
    color:#bbb;
    align-content: center;

}

.section1 .text {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:48px;
    max-width:350px;
}




.section1 .text .title {
    font-weight: 900;
    font-size:48px;
}

.section1 .text .subtext {
    font-size:18px;
    color:#E5E7EB;
}

.section1 .text button {
    align-self:flex-start;
    background-color: #3882F6;
    outline-color: #3882F6;
    border-radius:8px;
    color:#f9FaF8;
    border:0;
    height:32px;
    max-width: 100px;
    min-width: 100px;
    font-weight:bold;
    margin-top:20px;
}

.section2 {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.section2 .title {
    font-weight: 900;
    font-size: 36px;
    color:#1F2937;
    margin:24px 12px;
}

.section2 .containers {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
}

.section2 .box {
    width:150px;
    height:150px;
    outline:#3882F6;
    border-radius: 12px;
    background-color:#f9FaF8;
    outline-width: 8px;
    margin:10px;
    outline-style: inset;

}
.section2 .container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:24px;
}

.section2 .caption {
    margin:12px;
    flex-shrink: 2;
    max-width: 150px;
    text-align: center;
}

.section3 {
    padding:50px;
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section3 .quote {
    color:#1f2937;
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 800px;
}

.section3 .author {
    font-weight: bold;
    text-align: end;
}

